/nathanFullMernSubmit.zip
/nathanFullMernSubmit/bug-databse-server/node_modules
/nathanFullMernSubmit/bug-databse-server/client/node_modules
/nathanFullMernSubmit/bug-databse-server/client/IMG_20170726_185803.jpg
/nathanFullMernSubmit/bug-databse-server/client/IMG_20170726_185902.jpg